body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 
.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-content {
  font-size: 1rem;
  color: #333;
}
 
li.z-50 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  width: 90%;
  max-width: 1200px;
  transition: top 0.3s ease;
}

 
ul#setsList {
  position: relative;
}

.perspective {
  perspective: 1000px;
}

.card {
  transform-style: preserve-3d;
  transition: transform 0.8s;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}